archive/rust-solutions/target/
archive/rust-solutions/Cargo.lock

archive/python-solutions/solutions/__pycache__/

archive/java-solutions/.idea/
archive/java-solutions/*.iml
archive/java-solutions/target/

archive//python-solutions/.vscode/

scripts

target
Cargo.lock
